NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=your-project-id
NEXT_PUBLIC_APPWRITE_DATABASE_ID=your-database-id
NEXT_PUBLIC_APPWRITE_MANGAS_COLLECTION_ID=mangas
NEXT_PUBLIC_APPWRITE_CHAPTERS_COLLECTION_ID=chapters
NEXT_PUBLIC_APPWRITE_CHAPTER_PAGES_COLLECTION_ID=chapter-pages
NEXT_PUBLIC_APPWRITE_USERS_COLLECTION_ID=users
NEXT_PUBLIC_APPWRITE_COVERS_BUCKET_ID=covers
NEXT_PUBLIC_APPWRITE_PAGES_BUCKET_ID=pages
NEXT_PUBLIC_APPWRITE_AVATARS_BUCKET_ID=avatars
